@using Uniqlo_main.Models
@model List<Category>

@{
    ViewData["Title"] = "Category List";
}

<div class="container mt-4">
    <h1 class="text-center">Category Management</h1>

    <div class="mb-3 text-end">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Category">Create New Category</a>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col" colspan="2" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td class="text-center">
                        <a class="btn btn-success btn-sm" asp-controller="Category" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-danger btn-sm" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
