@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="wrapper wrap__box__style--1">
    <!-- Start Header Style -->
    <header id="header" class="htc-header header--3 bg__white">
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-2 col-lg-2 col-6">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/assets/images/logo/uniqlo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <!-- Start MAinmenu Ares -->
                    <div class="col-md-8 col-lg-8 d-none d-md-block">
                        <nav class="mainmenu__nav d-none d-lg-block">
                            <ul class="main__menu">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="Home" asp-action="About">About</a></li>
                                <li class="drop"><a href="shop.html">Shop</a>
                                <li><a asp-controller="Home" asp-action="Contact">contact</a></li>
                            </ul>
                        </nav>
                        <div class="mobile-menu clearfix  d-block d-lg-none">
                            <nav id="mobile_dropdown">
                                <ul>
                                    <li><a href="index.html">Home</a>
                                    <li><a href="about.html">About</a></li>
                                    <li class="drop"><a href="shop.html">Shop</a>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End MAinmenu Ares -->
                    <div class="col-md-2 col-lg-2 col-6">
                        <ul class="menu-extra">

                            @if (Context.User.Identity?.IsAuthenticated == true)
                            {

                                <li>
                                    <a asp-action="LogOut" asp-controller="Account">
                                        <span class="ti-arrow-right"></span>
                                    </a>

                                </li>

                            }

                            else
                            {
                                <li>
                                    <a asp-action="Login" asp-controller="Account">
                                        <span class="ti-user"></span>
                                    </a>

                                </li>

                            }
                            <li class="cart__menu"><span class="ti-shopping-cart"></span></li>

                        </ul>
                    </div>
                </div>
                <div class="mobile-menu-area"></div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </header>
    <!-- End Header Style -->

    <div class="body__overlay"></div>
    <!-- Start Offset Wrapper -->
    <div class="offset__wrapper">


        <!-- Start Cart Panel -->
        <div class="shopping__cart">
            <div class="shopping__cart__inner">
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="shp__cart__wrap">
                    <div class="shp__single__product">
                        <div class="shp__pro__thumb">
                            <a href="#">
                                <img src="~/assets/images/product/sm-img/1.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                            <span class="quantity">QTY: 1</span>
                            <span class="shp__price">$105.00</span>
                        </div>
                        <div class="remove__btn">
                            <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                    <div class="shp__single__product">
                        <div class="shp__pro__thumb">
                            <a href="#">
                                <img src="~/assets/images/product/sm-img/2.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">Brone Candle</a></h2>
                            <span class="quantity">QTY: 1</span>
                            <span class="shp__price">$25.00</span>
                        </div>
                        <div class="remove__btn">
                            <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="shoping__total">
                    <li class="subtotal">Subtotal:</li>
                    <li class="total__price">$130.00</li>
                </ul>
                <ul class="shopping__btn">
                    <li><a href="cart.html">View Cart</a></li>
                    <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
        </div>
        <!-- End Cart Panel -->
    </div>
